.nav {
    position: relative;
    z-index: 20;
}

.nav-container {
    background-color: var(--secondary-background);
    height: 50px;
    width: 50px;
    border-radius: 99% 1% 0% 100% / 0% 0% 100% 100% ;
    position: absolute;
    right: 0px;
    overflow: hidden;
    transition: all 1s ease;
    padding-left: 18px;
    padding-top: 5px;
}

.nav-container.open {
    right: 0;
    height: 250px;
    width: 250px;
    border-radius: 99% 1% 0% 100% / 0% 0% 100% 100%;
}

.bar {
    color: var(--primary-text);
    position: relative;
    transition: opacity 0.5s ease;
    top: 1px;
    right: 1px;
}

.cross {
    position: relative;
    color: var(--primary-text);
    top: 5px;
    right: -85%;
    cursor: pointer;

}

.nav-container.animating .bar {
    opacity: 0;
}

.icon-div-1 {
    border: 3px solid var(--border-color);
    border-radius: 25px;
    height: 50px;
    width: 50px;
    top: 8px;
    right: 180px;
    position: absolute;
    padding: 9px;
    transition: all .5s ease;
    cursor: pointer;
}

.icon-div-2 {

    border: 3px solid var(--border-color);
    border-radius: 25px;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 90px;
    right: 150px;
    padding: 10px;
    transition: all .5s ease;
    cursor: pointer;

}

.icon-div-3 {
    border: 3px solid var(--border-color);
    border-radius: 25px;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 155px;
    right: 90px;
    padding: 11.5px;
    transition: all .5s ease;
    cursor: pointer;

}

.icon-div-4 {
    border: 3px solid var(--border-color);
    border-radius: 25px;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 185px;
    right: 10px;
    padding: 10px;
    padding-top: 11px;
    transition: all .5s ease;
    cursor: pointer;

}

.icon {
    color: var(--primary-text);
}

.icon-div-1:hover {
    background-color: var(--hover-color);
}

.icon-div-2:hover {
    background-color: var(--hover-color);
}

.icon-div-3:hover {
    background-color: var(--hover-color);
}

.icon-div-4:hover {
    background-color: var(--hover-color);
}