* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.mobile-nav {
    display: none;
}
.laptop-nav{
    display: block;
}
.body{
    background-color:#1b1b1b;
}


@media only screen and (max-width:768px) {
    .mobile-nav {
        display: block;
    }

    .laptop-nav {
        display: none;
    }
}